<html>
  <head>
    <title>Bazinga!</title>
  </head>
  <body>
    <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 21.4.2018, 14:41</p>
            <h2><a href="">My first post</a></h2>
            <p>Jotain hauskaa!</p>
        </div>

        <div>
            <p>published: 21.4.2018, 14:41</p>
            <h2><a href="">My second post</a></h2>
            <p>Tästä tulee hyvä sivu!<p>
            <em>Bazinga!</em>
        </div>
  </body>
</html>
